.content{
  background-color: pink;
  font-family: "Bitter";
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-top: 25vh;
  margin-bottom: 25vh;
  padding: 5vh;
}

.selfie{
  width: 30%;
  height: 200px;
  overflow: hidden;
}
.selfie img{
  max-width: 100%;
}

.form{
  background-color: pink;
}

.smile img{
  width: 5vh;
}

@media screen and (max-width: 1080px) {
  .content{
    margin-top: 15vh;
    margin-left: 8vh;
    margin-right: 8vh;
    font-size: 80%;
    padding: 4vh;
  }
  .content img{
    display: none;
  }
}
